{% extends 'generic/object.html' %}
{% block extra_controls %}
  {% if can_add_expense and not object.closed %}
    <a href="{% url 'plugins:netbox_ledger_tracker:expense_split_add' %}?ledger={{ object.pk }}&return_url={{ object.get_absolute_url }}"
       class="btn btn-primary btn-sm">
      <i class="mdi mdi-plus-thick"></i> Add Expense
    </a>
  {% endif %}
  {% if can_add_settlement and not object.closed %}
    <a href="{% url 'plugins:netbox_ledger_tracker:settlement_add' %}?ledger={{ object.pk }}&return_url={{ object.get_absolute_url }}"
       class="btn btn-outline-primary btn-sm">
      <i class="mdi mdi-cash-multiple"></i> Record Settlement
    </a>
  {% endif %}
  <a href="{% url 'plugins:netbox_ledger_tracker:ledger_settle_up' pk=object.pk %}" class="btn btn-outline-primary btn-sm">
    <i class="mdi mdi-calculator-variant"></i> Settle Up
  </a>
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if balances %}
    <div class="row mt-3">
      <div class="col-12">
        {% with ledger=object %}
          {% include 'netbox_ledger_tracker/inc/balances.html' %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
{% endblock %}
